:root {
		--mainHeight: 1120px;
		--headHeight: 200px;
		--fs-35: 50px;
		--fs-29: calc(var(--fs-35) / 1.2);
		--fs-14: calc(var(--fs-35) / 2.5);
		--fs-12: calc(var(--fs-35) / 2.9);
		--fs-11: calc(var(--fs-35) / 3.18);
		--ff-ibm: "IBM Plex Serif", serif;
		--ff-arimo: "Arimo", sans-serif;
		--primary-100: #0d2840;
		--primary-200: #0d2840;
		--lhsBg: #d6e8f4;
		--lhsWidth: 40%;
		--rhsWidth: calc(100% - var(--lhsWidth));
}

*,
*:after,
*:before {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		font-family: var(--ff-ibm);
}

span,
a,
li,
p {
		font-family: var(--ff-arimo);
		font-weight: 300;
}

.resume-lhs {
		width: var(--lhsWidth);
}

.resume-rhs {
		width: var(--rhsWidth);
		padding: 0 80px;
}

.headerOuterWrapper {
		min-height: var(--headHeight);
		width: 100%;
		position: relative;
}
.headerOuterWrapper .headerInnerWrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--primary-100);
}
.headerOuterWrapper .headerInnerWrapper .resume-lhs {
		height: 100%;
		background: white;
}
.headerOuterWrapper .headerInnerWrapper .resume-rhs {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;
}
.headerOuterWrapper .headerInnerWrapper .resume-rhs h1,
.headerOuterWrapper .headerInnerWrapper .resume-rhs h2 {
		text-transform: capitalize;
		color: white;
}
.headerOuterWrapper .headerInnerWrapper .resume-rhs h1 {
		font-size: var(--fs-35);
		line-height: 1.2;
}
.headerOuterWrapper .headerInnerWrapper .resume-rhs h2 {
		font-size: var(--fs-14);
}

.contentWrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		min-height: calc(var(--mainHeight) - var(--headHeight));
}
.contentWrapper .resume-lhs,
.contentWrapper .resume-rhs {
		padding: 0 80px;
}
.contentWrapper .resume-lhs .box,
.contentWrapper .resume-rhs .box {
		word-wrap: break-word;
		padding-top: 50px;
}
.contentWrapper .resume-lhs .box:last-child,
.contentWrapper .resume-rhs .box:last-child {
		padding-bottom: 50px;
}
.contentWrapper .resume-lhs .box h3,
.contentWrapper .resume-rhs .box h3 {
		text-transform: capitalize;
		font-size: var(--fs-12);
		color: var(--primary-100);
}
.contentWrapper .resume-lhs .box ul,
.contentWrapper .resume-lhs .box > div,
.contentWrapper .resume-rhs .box ul,
.contentWrapper .resume-rhs .box > div {
		padding-top: 20px;
}
.contentWrapper .resume-lhs .box ul li,
.contentWrapper .resume-lhs .box ul a,
.contentWrapper .resume-lhs .box ul p,
.contentWrapper .resume-lhs .box > div li,
.contentWrapper .resume-lhs .box > div a,
.contentWrapper .resume-lhs .box > div p,
.contentWrapper .resume-rhs .box ul li,
.contentWrapper .resume-rhs .box ul a,
.contentWrapper .resume-rhs .box ul p,
.contentWrapper .resume-rhs .box > div li,
.contentWrapper .resume-rhs .box > div a,
.contentWrapper .resume-rhs .box > div p {
		font-size: var(--fs-11);
		color: var(--primary-200);
		font-weight: 300;
}
.contentWrapper .resume-lhs .box ul a,
.contentWrapper .resume-lhs .box > div a,
.contentWrapper .resume-rhs .box ul a,
.contentWrapper .resume-rhs .box > div a {
		text-decoration: none;
}
.contentWrapper .resume-lhs .box ul,
.contentWrapper .resume-rhs .box ul {
		padding-left: 40px;
		text-transform: capitalize;
}
.contentWrapper .resume-lhs .box ul > li:not(:last-child),
.contentWrapper .resume-rhs .box ul > li:not(:last-child) {
		padding-bottom: 3px;
}
.contentWrapper .resume-lhs {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		background: var(--lhsBg);
}
.contentWrapper .resume-lhs .volunteerBox div p {
		text-transform: capitalize;
}
.contentWrapper .resume-lhs .volunteerBox div p::first-line {
		font-weight: bold;
}
.contentWrapper .resume-rhs {
		background: white;
}
.contentWrapper .resume-rhs .box > div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.contentWrapper .resume-rhs .box > div .logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-right: 30px;
}
.contentWrapper .resume-rhs .box > div .logo > span {
		font-size: var(--fs-29);
		color: var(--primary-100);
}
.contentWrapper .resume-rhs .box > div .data p:not(:first-child) {
		padding-top: 50px;
}
.contentWrapper .resume-rhs .box > div .data p::first-line {
		font-weight: bold;
		text-transform: capitalize;
}
.contentWrapper .resume-rhs .box > div .data li {
		text-transform: capitalize;
}
.contentWrapper .resume-rhs .educationBox .data p {
		text-transform: capitalize;
}

@media print {
		#footer,
#header {
				display: none !important;
		}
}